.form-group {
    border: 1px solid #c7c4c4;
    padding: 25px;
}
.optDefineDiv {
    margin-top:10px
}

.optionType, .optAmuDiv {
    width: 50%; 
    display: inline
}
.optAmuDiv {
    display: none;
}
.optionFieldsWrapper{
    width: 80%;
    margin: 0px auto;
    margin-top: 35px;
    border: 1px solid #ccc;
    padding: 15px;
    display: none;
}
.optionFieldsWrapper input {
    margin-top: 5px;
}
.from_create {
    margin-bottom: 10px;
}
#btnMainSubmit {
    display: none;
}